.menu {
  list-style: none;
  color: $red;
  font-family: $futura;
  @include mixins.flex(row, center, center);

  a {
    color: $red;
    padding: 10px 10px;
    text-decoration: none;
  }
  a:hover {
    color: $orange;
  }
}
