@import url("https://use.typekit.net/elq2whh.css");
@import url("https://use.typekit.net/elq2whh.css");
@font-face {
  font-family: "Futura Std Book";
  src: local("Futura Std Book.ttf"),
    url("assets/fonts/Futura Std Book.ttf") format("ttf");
}
@font-face {
  font-family: "Futura Std Book";
  src: local("Futura Std Book.ttf"),
    url("assets/fonts/Futura Std Book.ttf") format("ttf");
}
.headerContainer {
  width: 100%;
  font-family: abril-fatface, serif;
  margin: 0 20px;
}
.headerContainer .topMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  width: 100%;
  margin-top: 25px;
}
.headerContainer .topMenu .logo {
  display: none;
}
@media (min-width: 650px) {
  .headerContainer .topMenu .logo {
    display: flex;
    width: 240px;
  }
}
.headerContainer .topMenu .smalllogo {
  display: flex;
  width: 100px;
}
@media (min-width: 650px) {
  .headerContainer .topMenu .smalllogo {
    display: none;
  }
}
.headerContainer .hero {
  margin: 10px 10px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 0;
  font-size: 35pt;
}
@media (min-width: 650px) {
  .headerContainer .hero {
    margin: 10px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
}
.headerContainer .hero img {
  width: 270px;
  margin: 0 0 40px 30px;
}

footer {
  display: flex;
  background-image: url(assets/pattern.png);
  background-size: cover;
  background-color: #ede5d7;
  width: 100%;
  height: 60vh;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}
footer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: #ede5d7;
  height: 20vh;
  width: 75%;
  padding-top: 30px;
  padding-bottom: 20px;
}
footer .icons {
  font-size: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
footer .icons a {
  color: black;
}
footer .icons a :hover {
  color: #9c5026;
  cursor: pointer;
}
footer h3 {
  padding-top: 30px;
  font-family: abril-fatface, serif;
  letter-spacing: 2px;
  font-size: 40pt;
  margin: 0;
}
footer p {
  padding-bottom: 30px;
  font-family: futura-pt, sans-serif;
  font-size: 10px;
  bottom: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  font-family: futura-pt, sans-serif;
}

.categoryContainerOm {
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  z-index: 1;
  font-family: abril-fatface, serif;
  letter-spacing: 2px;
  font-size: 30pt;
  background-color: #ede5d7;
  width: 80%;
  position: absolute;
  top: 97vh;
}
.categoryContainerOm h3 {
  padding: 0;
  margin: 30px 0 0 0;
}
@media (min-width: 650px) {
  .categoryContainerOm {
    top: 67vh;
  }
}
.categoryContainerOm p {
  font-family: futura-pt, sans-serif;
  font-size: 20pt;
  text-align: center;
  line-height: 40px;
  padding: 0 30px;
}

.pattern {
  position: relative;
  background-image: url(assets/pattern.png);
  background-color: #ede5d7;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vh;
  z-index: 0;
}
@media (min-width: 650px) {
  .pattern {
    display: flex;
    background-image: url(assets/pattern.png);
    background-size: cover;
    background-color: #ede5d7;
    width: 100%;
    height: 40vh;
    z-index: 0;
  }
}
@media (min-width: 992px) {
  .pattern {
    display: flex;
    background-image: url(assets/pattern.png);
    background-size: cover;
    background-color: #ede5d7;
    width: 100%;
    height: 60vh;
    z-index: 0;
  }
}

.green {
  position: absolute;
  background-color: #99a27b;
  width: 100%;
  height: 50vh;
  z-index: 0;
  top: 160vh;
}
@media (min-width: 650px) {
  .green {
    display: flex;
    background-color: #99a27b;
    width: 100%;
    height: 60vh;
    z-index: 0;
  }
}
@media (min-width: 650px) and (min-width: 992px) {
  .green {
    display: flex;
    background-color: #99a27b;
    width: 100%;
    height: 60vh;
    z-index: 0;
  }
}

.menu {
  list-style: none;
  color: #9c5026;
  font-family: "Futura Std Book", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.menu a {
  color: #9c5026;
  padding: 10px 10px;
  text-decoration: none;
}
.menu a:hover {
  color: #bf7616;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background-color: #ede5d7;
}

/*# sourceMappingURL=App.css.map */
