.bottomContainer {
  width: 100%;
  @include mixins.flex(column, center, center);
  margin-bottom: 0;
}
.bottomContent {
  @include mixins.flex(column, center, center);
  text-align: center;
  font-family: $fun-font;
  background-color: $lightbeige;
  width: 80%;
  @include mixins.boxshadow();
  border-radius: 0 0 5px 5px;

  img {
    width: 60%;
    top: 0;
  }
  .textContainer {
    @include mixins.flex(column, center, center);
    font-family: $strict-font;
    width: 60%;
    min-height: 45vh;
  }
}
