.headerContainer {
  font-family: $abril;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  margin: 0 45px;

  .topMenu {
    @include mixins.flex(row, space-between, center);
    width: 100%;
    margin-top: 30px;

    .logo {
      display: none;
      @include mixins.for-phone-landscape-up {
        display: flex;
        width: 240px;
      }
    }
    .smalllogo {
      display: flex;
      width: 100px;
      @include mixins.for-phone-landscape-up {
        display: none;
      }
    }
  }

  .hero {
    margin: 20px 10px;
    @include mixins.flex(column-reverse, center, center, 0);
    font-size: 27pt;
    @include mixins.for-phone-landscape-up {
      margin: 10px 30px;
      @include mixins.flex(row, center, center, 0);
    }
    img {
      width: 270px;
    }
  }
}
