.headerContainer {
  width: 100%;

  margin: 0 10px;
  @include mixins.flex(row, space-between, center);

  .logoContainer {
    margin-top: 25px;
    margin-left: 40px;

    .logo {
      display: none;
      @include mixins.for-phone-landscape-up {
        display: flex;
        width: 240px;
      }
    }
    .smalllogo {
      display: flex;
      width: 100px;
      @include mixins.for-phone-landscape-up {
        display: none;
      }
    }
  }
  ul {
    display: flex;
    list-style: none;
    margin-right: 40px;
    margin-top: 25px;
    li,
    a {
      text-decoration: none;
      margin: 5px;
      color: $red;
      font-family: $futura;
      font-size: 20px;
    }
    a:hover {
      color: $orange;
    }
  }
}
