main {
  @include mixins.flex(column, center, center, 0);
  width: 100%;
  font-family: $futura;
  width: 100%;

  .title {
    font-family: $abril;
    font-size: 46px;
  }
}

.homeContainer {
  @include mixins.flex(column, center, center, 0);
  background-color: $green;
  margin: 30px 10px;
  width: 100%;
}
.projectPageContainer {
  @include mixins.flex(column, start, center, 0);
  background-color: $orange;
  width: 100%;
  margin: 20px;

  .projectsContainer {
    @include mixins.flex(row, center, center, 0);
    background-color: $orange;
    width: 100%;
    margin: 20px;
    .singleProjectContainer {
      @include mixins.flex(column, start, center, 0);
      img {
        width: 250px;
      }
    }
  }
}

.aboutContainer {
  @include mixins.flex(column, center, center, 0);
  background-color: $red;
  height: 100%;
  width: 100%;
  margin-top: 20px;
  img {
    width: 300px;
  }
  .imgContainer {
    @include mixins.flex(row, center, center, 0);
    div {
      @include mixins.flex(column, center, center, 0);
      font-family: $abril;
    }
    a {
      text-decoration: none;
      color: black;
    }
    a:hover {
      color: $orange;
    }
  }
  .textContainer {
    width: 80%;
    margin: 20px;
    text-align: center;
  }
}
