main {
  @include mixins.flex(column, center, center, 0);
  width: 100%;
  font-family: $futura;
}

.categoryContainerOm {
  padding-bottom: 80px;
  h3 {
    padding: 0;
    margin: 30px 0 0 0;
  }
  @include mixins.flex(column, center, center, 0px);
  z-index: 1;
  font-family: $abril;
  letter-spacing: 2px;
  font-size: 40pt;
  background-color: $white;
  width: 80%;
  position: absolute;
  top: 97vh;
  @include mixins.for-phone-landscape-up {
    top: 67vh;
  }

  p {
    font-family: $futura;
    font-size: 25pt;
    text-align: center;
    line-height: 45px;
    padding: 0 10px;
  }
  .images {
    @include mixins.flex(column, center, center, 45px);
    @include mixins.for-phone-landscape-up {
      @include mixins.flex(row, center, center, 25px);
    }
    :nth-child(1) {
      width: 220px;
    }
    :nth-child(2) {
      width: 280px;
    }
  }
}

.categoryContainerProjekt {
  h3 {
    font-family: $abril;
    padding: 0;
    margin: 30px 0 0 0;
    font-family: $abril;
    letter-spacing: 2px;
    font-size: 40pt;
  }
  z-index: 1;
  font-family: $futura;
  text-align: center;
  font-size: 27pt;
  background-color: $white;
  width: 80%;
  position: absolute;
  top: 300vh;
  @include mixins.for-phone-landscape-up {
    top: 210vh;
  }

  img {
    width: 160px;
    padding: 20px;
    @include mixins.for-phone-landscape-up {
      padding: 5px;
    }
    @include mixins.for-desktop-up {
      width: 200px;
      padding: 15px;
    }
  }
}

.pattern {
  @include mixins.pattern(100vh);
  @include mixins.for-phone-landscape-up {
    @include mixins.pattern(70vh);
  }
  @include mixins.for-desktop-up {
    @include mixins.pattern(80vh);
  }
}

.green {
  @include mixins.green(105vh);
  top: 160vh;
  @include mixins.for-phone-landscape-up {
    @include mixins.green(60vh);
    @include mixins.for-desktop-up {
      @include mixins.green(50vh);
    }
  }
}
.red {
  @include mixins.red(170vh);
  top: 320vh;
  @include mixins.for-phone-landscape-up {
    @include mixins.red(110vh);
  }
  @include mixins.for-desktop-up {
    @include mixins.red(120vh);
  }
}
