main {
  @include mixins.flex(column, center, center, 0);
  width: 100%;
  font-family: $futura;
}

.pattern {
  background-image: url("assets/pattern.png");
  background-color: $white;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}
