.topContainer {
  width: 100%;
  @include mixins.flex(column, center, center);
}
.topContent {
  text-align: center;
  font-family: $strict-font;
  font-size: 15px;
  width: 80%;
  min-height: 20vh;
}
