@import "variables";

@mixin for-phone-landscape-up {
  @media (min-width: 650px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

////////////
//FLEXBOX//
//////////
@mixin flex($dir, $jc, $ai, $gap: 0) {
  display: flex;
  flex-direction: $dir;
  justify-content: $jc;
  align-items: $ai;
  gap: $gap;
}

////////////
//BOXSHADOW//
//////////
@mixin boxshadow($x: 0, $y: 5px, $blur: 15px, $radius: 0) {
  box-shadow: rgba(0, 0, 0, 0.35) $x $y $blur $radius;
}

////////////
//BACKGROUND//
//////////
@mixin pattern($height) {
  display: flex;
  background-image: url(assets/pattern.png);
  background-size: cover;
  background-color: $white;
  width: 100%;
  height: $height;
  z-index: 0;
}
@mixin green($height) {
  display: flex;
  background-color: $green;
  width: 100%;
  height: $height;
  z-index: 0;
}
@mixin red($height) {
  display: flex;
  background-color: $red;
  width: 100%;
  height: $height;
  z-index: 0;
}
