@import url("https://fonts.googleapis.com/css2?family=Gwendolyn&family=Playfair+Display:wght@400;800&display=swap");

// Fonts

$S: "Playfair Display", serif;
$C: "Gwendolyn", cursive;

// Colors
$white: #f0eadc;
