@import url("https://use.typekit.net/elq2whh.css");

// Fonts
$abril: abril-fatface, serif;

$futura: futura-pt, sans-serif;

// Colors
$white: #ede5d7;
$green: #99a27b;
$red: #9c5026;
$orange: #bf7616;
