@import url("https://fonts.googleapis.com/css2?family=Gwendolyn&family=Montserrat:wght@200&family=Playfair+Display&family=Tangerine&display=swap");

// Fonts

$SS: "Montserrat", sans-serif;
$S: "Playfair Display", serif;
$C: "Gwendolyn", cursive;

// Colors
$white: #f0eadc;
