// Mixins
@use "mixins";
@import "variables";

// Styling elements
@import "./elements/header";
@import "./elements/footer";
@import "./elements/topContent";
@import "./elements/btmContent";

html {
  scroll-behavior: smooth;
}

body {
  @include mixins.flex(column, center, center, 0px);
  padding: 0;
  margin: 0;
}

.topBody {
  @include mixins.flex(column, center, center, 0px);
  background-color: $lightbeige;
  width: 100%;

  .topBodyContent {
    background-color: $red;
    width: 80%;
    @include mixins.boxshadow();
    margin-top: 40px;
    border-radius: 5px 5px 0 0;
  }
}
.btmBody {
  background-color: $beige;
}
